<div class="row">
  <div class="col-12">
    <div class="card mb-2 mt-2">
      <div class="card-header">
        All companies
      </div>
      <div class="card-body">
        <table class="table table-sm table-hover">
          <thead>
          <tr>
            <ng-container *ngFor="let header of headers">
              <ng-container *ngIf="header.isSortable">
                <ng-container *ngIf="header.isActive">
                  <ng-container *ngIf="header.order == 'desc'">
                    <th (click)="sortOn(header.sort, 'asc')">
                      <span [textContent]="header.headerName"></span>
                      <i class="fa fa-sort-desc float-right sort" aria-hidden="true" data-sort="" data-order="'desc'"></i>
                    </th>
                  </ng-container>
                  <ng-container *ngIf="header.order == 'asc'">
                    <th (click)="sortOn(header.sort, 'desc')">
                      <span [textContent]="header.headerName"></span>
                      <i class="fa fa-sort-asc float-right sort" aria-hidden="true" data-sort="header.sort" data-order="'asc'"></i>
                    </th>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="!header.isActive">
                  <th (click)="sortOn(header.sort, 'asc')">
                    <span [textContent]="header.headerName"></span>
                    <i class="fa fa-sort float-right sort" aria-hidden="true" data-sort="header.sort" data-order="asc"></i>
                  </th>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="!header.isSortable">
                <th>
                  <span [textContent]="header.headerName"></span>
                </th>
              </ng-container>
            </ng-container>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let company of companies">
            <td>{{ company.id }}</td>
            <td>{{ company.name }}</td>
            <td>{{ company.companyType }}</td>
            <td>
              <a routerLink="/companies/details/{{company.id}}" type="button" class="btn btn-primary">details</a>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="deleteById(company.id)">delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="p-1">
  <button type="button" class="btn btn-primary" (click)="createCompany()">add</button>
</div>
