<div *ngIf="bankAccount">
  <div class="row">
    <div class="col-12">
      <div class="card mb-2 mt-2">
        <div class="card-header">
          Bank account details
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <tr>
              <th>id</th>
              <td>{{bankAccount.id}}</td>
            </tr>
            <tr>
              <th>Name</th>
              <td>{{bankAccount.name}}</td>
            </tr>
            <tr>
              <th>IBAN</th>
              <td>{{bankAccount.iban}}</td>
            </tr>
            <tr>
              <th>User</th>
              <td>{{bankAccount.user.firstName + ' ' + bankAccount.user.lastName}}</td>
            </tr>
            <tr>
              <th>created</th>
              <td>{{bankAccount.created}}</td>
            </tr>
            <tr>
              <th>updated</th>
              <td>{{bankAccount.updated}}</td>
            </tr>
            <tr>
              <th>deletion mark</th>
              <td>{{bankAccount.deletionMark}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <button type="button" class="btn btn-primary" (click)="goBack()">back</button>
    <button type="button" class="btn btn-warning" (click)="updateBankAccount()">change</button>
  </div>
</div>
