#date {
  width: 300px; /* Ширина поля в пикселах */
}

#currencyId {
  width: 300px; /* Ширина поля в пикселах */
}

#rate {
  width: 300px; /* Ширина поля в пикселах */
}

#frequencyRate {
  width: 300px; /* Ширина поля в пикселах */
}
