<div class="row">
  <div class="col-12">
    <div class="card mb-2 mt-2">
      <div class="card-header">
        New bank account
      </div>
      <div class="card-body">
        <form [formGroup]="bankAccountForm" (ngSubmit)="create()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="name" formControlName="name" required>
          </div>
          <div class="form-group">
            <label for="iban">IBAN</label>
            <input type="text" class="form-control" id="iban" aria-describedby="iban" formControlName="iban" required>
          </div>
          <div *ngIf="!userId">
            <div class="form-group">
              <label for="userId">Select user</label>
              <select class="form-control" id="userId" aria-describedby="userId" formControlName="userId" required>
                <option *ngFor="let user of users"
                        value="{{user.id}}">{{user.firstName + ' ' + user.lastName}}</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-primary mt-4" [disabled]="bankAccountForm.invalid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
