<div class="row">
  <div class="col-12">
    <div class="card mb-2 mt-2">
      <div class="card-header">
        New company
      </div>
      <div class="card-body">
        <form [formGroup]="companyForm" (ngSubmit)="create()">
<!--        <form>-->
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="name" formControlName="name">
          </div>
          <div class="form-group">
            <label for="companyType">Select company type</label>
            <select class="form-control" id="companyType" aria-describedby="companyType" formControlName="companyType">
              <option *ngFor="let type of companyTypes"
                      value="{{type}}">{{type}}</option>
<!--&lt;!&ndash;              <option value="1">One</option>&ndash;&gt;-->
<!--&lt;!&ndash;              <option value="2">Two</option>&ndash;&gt;-->
<!--&lt;!&ndash;              <option value="3">Three</option>&ndash;&gt;-->
            </select>
<!--            <input type="text" class="form-control" id="companyType" aria-describedby="companyType" formControlName="companyType">-->
          </div>
          <button type="submit" class="btn btn-primary mt-4">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
