<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/data_table}">
<head>
    <meta charset="utf-8">
    <title>counterparties</title>
</head>
<body>

<div layout:fragment="data_table_content">

    <tr th:each="counterparty,iter : ${pageData.getItems()}">
        <td th:text="${iter.count}"></td>
        <td th:text="${counterparty.getName()}"></td>
        <td th:text="${counterparty.getInn()}"></td>
        <td th:text="${counterparty.getCounterpartyType()}"></td>
        <td >
            <a th:href="@{'/agreements/all/counterparty/' + ${counterparty.getId()}}" type="button" class="btn btn-link" th:text="${counterparty.getCountOfAgreements()}">"details"</a>
        </td>
        <td>
            <a th:href="@{'/counterparties/details/' + ${counterparty.getId()}}" type="button" class="btn btn-primary">details</a>
        </td>
        <td>
            <a th:href="@{'/counterparties/delete/' + ${counterparty.getId()}}" type="button" class="btn btn-danger">delete</a>
        </td>
    </tr>

</div>

</body>
</html>